#error
	absolute top left 50%; z-index 8
	padding 10px 15px
	background GREEN
	border-radius 0 0 5px 5px
	transform translate(-50%, -100%)
	transition all 0.2s

	&.show
		transform translate(-50%, 0)
