.panel-signin
	p
		margin -2px 0 15px

	.hint-wrap
		color lighten(GREEN, 15%)

		&:hover
			color #DDD

	.hint
		color #FFF

	.btn-signin
		.icon-steam
			float left
			margin -3px 4px 0 0

	.or
		position relative
		margin 10px -20px

		&:before,
		&:after
			content " "
			position absolute
			top 8px
			size 104px 1px
			background rgba(#FFF, 0.1)

		&:before
			left 0

		&:after
			right 0

.form-steamid
	.input-text-wrap
		overflow hidden

	.btn
		float right
		width 40px
		padding 0
		margin-left 10px

	.input-text
		text-align left
